| ---  |                                                              |
| ---- | ------------------------------------------------------------ |
|      | 布局：主要                                                   |
|      | ---                                                          |
|      | {% for post in paginator.posts %}                            |
|      | <文章 类="文章" >                                            |
|      | {% 如果 post.img %}                                          |
|      | < a  class =" post-thumbnail " style =" background-image: url({{ "/assets/img/" \| prepend: site.baseurl \| append : post.img}})" href="{{post. url \| prepend: site.baseurl}}" > </ a > |
|      | {％ 别的 ％}                                                 |
|      | {％ 万一 ％}                                                 |
|      | < div  class = "后置内容" >                                  |
|      | < h2  class =" post-title " > < a  href =" {{post.url \| prepend: site.baseurl}} " > {{post.title}} </ a > </ h2 > |
|      | < p > {{ post.content \| strip_html \| 截断词：15 }} </ p >  |
|      | < span  class =" post-date " > {{post.date \| date: '%Y, %b %d'}}  — </跨度> |
|      | < span  class =" post-words " > {% capture words %}{{ post.content \| number_of_words }}{% endcapture %}{% 除非单词包含“-” %}{{ words \| 加上：250 \| 除以：250 \| 追加：“分钟阅读”}}{%无尽%} </跨度> |
|      | </分格>                                                      |
|      | </文章>                                                      |
|      | {% endfor %}                                                 |
|      |                                                              |
|      | {% include pagination.html %}                                |
